html
    head
        title Welcome on my awesome website!
        link(rel="stylesheet", href="/css/styles.css")
        link(href="https://fonts.googleapis.com/css?family=Pangolin", rel="stylesheet")
    body
        main
            h1 Rock Paper Scissors
            h2 Choose your weapon!
            div.choices-class
              a(href="/paper").link-class
                img(src="/images/paper.png")
              a(href="/scissors").link-class
                img(src="/images/scissors.png")
              a(href="/rock").link-class
                img(src="/images/rock.png")
